<div>
     <div>
          <div>Регистрация</div>
                <div>
                    <form action="/register" method="POST">
                        <div>Логин</div>
                        <input type="text" name="login" required>
                        <div>Почта</div>
                        <input type="email" name="email" required>
                        <div>Пароль</div>
                        <input type="password" name="password" required>
                        <br></br>
                        <button type="submit">Зарегистрироваться</button>
                    </form>
                </div>
      </div>
</div>